<h1>Edit</h1>

<%= form_for @user, url: "/users/edit/#{@user.id}", method: :patch  do |f| %>

  <div>
    <%= f.text_field :first_name, value: @user.first_name %>
  </div>

  <div>
    <%= f.text_field :last_name, value: @user.last_name %>
  </div>

  <div>
    <%= f.text_field :email, value: @user.email %>

  </div>
    <%= f.text_field :image, value: @user.image %>
  <div>
    
  </div>

  <div>
    <%= f.password_field :password, value: @user.password %>
  </div>

<%=f.submit "Edit" %>

<% end %>