
<%= link_to "Home", '/' %>

<% if current_user != nil %>

  <%= link_to "Create Time Range", '/periods/new' %>
  <%= link_to "Create Event", '/posts/new'  %> 
  <%= link_to "Profile", user_id_path(current_user) %>
  <%= link_to "Logout", '/sessions', method: :delete %> 
</nav>
<% else %>
  <%= link_to "Signup", '/signup' %>
  <span>or</span>
  <%= link_to "Login", '/signin' %>
<% end %>
<br>