<h3>Posts!</h3>

<div>
There are currently <%= @posts.length %>
</div>

<% @posts.each do |post| %>
<hr>
<img class="post-image-small" src="<%= post.image %>" alt="image for post">
<h4><%= link_to post.title, show_post_path(post) %></h4>
<h6><%= post.post_date %> 
<%= post.description %> </h6>
<% end %>