<h3>Post!</h3>


<img class="post-image-small" src="<%= @post.image %>" alt="image for post">
<h4><%= @post.title  %></h4>
<h6><%= @post.post_date %> 
<h6><%= @post.description %> </h6>
<%= link_to "Edit", edit_post_path(@post.id) %>
<%= button_to "Delete", delete_post_path(@post), method: :delete, params: {post_id: @post.id}, :class => "btn" %>