<!-- <h1>Create New Time Period</h1>

<%= form_for @period do |f| %>
  <div>
    <%= f.text_field :name, placeholder: "Name" %>
  </div>
  <div>
    <%= f.text_area :start_time, placeholder: "Start Time" %>
  </div>
  <div>
    <%= f.text_field :end_time, placeholder: "End Time" %>
  </div>

  <%= f.submit "Create Time Period" %>
<% end %>

   
 -->