<h3>Period!</h3>

  <div class="period">
    <div class="period-top">
      <img src=<%= @period.image %> alt="Period Img" class="post-image-small">
    </div>
    <div class="period-body">
      <h2><%= @period.name %></h2>
      <h6><%= @period.start_time %> to <%= @period.end_time %></h6>
      <h4><%= @period.description %></h4>
      <%= link_to "Edit", period_edit_path(@period.id) %>
      <%= button_to "Delete", period_delete_path(@period), method: :delete, params: {period_id: @period.id} %>
    </div>

  <% if @posts %>
    <% @period.posts.each do |post|%>
    <div class="post"> 
      <%= link_to post.title, post %>
    </div>
    <% end %>
  <% end %>

  </div>


